"on": push
jobs:
  test:
    runs-on: windows-2019
    steps:
    - name: Check docker host release id
      uses: Amadevus/pwsh-script@v2
      id: get-windows-host-version-number
      with:
        script: |
          [Environment]::OSVersion
          [System.Environment]::OSVersion.Version
          $PSVersionTable.PSVersion
          (Get-ItemProperty -Path "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion" -Name ReleaseId).ReleaseId
    - run: echo "${{ steps.my-script.outputs.result }}"
    - name: Checkout
      uses: actions/checkout@v3
    - uses: mr-smithers-excellent/docker-build-push@v5
      name: Build & push Docker image
      with:
        image: taylorm/typesake
        registry: docker.io
        addTimestamp: true
        dockerfile: Dockerfile
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
